[
  // ターミナル: 新しいターミナルを開く
  {
    "key": "ctrl+shift+t",
    "command": "workbench.action.terminal.new"
  },
  // エクスプローラー: ファイルをサイドバーで表示
  {
    "key": "ctrl+shift+e",
    "command": "workbench.view.explorer"
  }
]
