{{- $ghCredHelper := "!gh auth git-credential" -}}
{{- if .isWindows -}}
{{- $ghCredHelper = "!'C:\\\\Program Files\\\\GitHub CLI\\\\gh.exe' auth git-credential" -}}
{{- else if .isWSL -}}
{{- $ghCredHelper = "!'/mnt/c/Program Files/GitHub CLI/gh.exe' auth git-credential" -}}
{{- end -}}
{{- $sshSignProgram := "" -}}
{{- if .isMac -}}
{{- $sshSignProgram = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" -}}
{{- else if .isWSL -}}
{{- $sshSignProgram = printf "/mnt/c/Users/%s/AppData/Local/1Password/app/8/op-ssh-sign-wsl.exe" .windowsUser -}}
{{- else if .isWindows -}}
{{- $sshSignProgram = printf "%s/AppData/Local/1Password/app/8/op-ssh-sign.exe" .chezmoi.homeDir -}}
{{- else if .isLinux -}}
{{- $sshSignProgram = "/opt/1Password/op-ssh-sign" -}}
{{- end -}}
{{- $sshSigningKey := printf "%s/.ssh/id_ed25519.pub" .chezmoi.homeDir -}}
{{- $enableCommitSigning := false -}}
{{- if and (not .isDevContainer) $sshSignProgram (stat $sshSignProgram) (stat $sshSigningKey) -}}
{{- $enableCommitSigning = true -}}
{{- end -}}

[user]
  name  = Kazushi Kamegawa
  email = kkamegawa@users.noreply.github.com
{{- if $enableCommitSigning }}
  signingkey = {{ $sshSigningKey }}
{{- end }}

[commit]
  gpgsign = {{ $enableCommitSigning }}

{{- if $enableCommitSigning }}
[gpg]
  format = ssh

[gpg "ssh"]
  program = {{ $sshSignProgram }}
{{- end }}

[core]
  autocrlf = {{ if .isWindows }}true{{ else }}input{{ end }}
  safecrlf = warn
  hooksPath = ~/.config/git/hooks
{{- if .isWindows }}
  fsmonitor = true
{{- end }}

[init]
  defaultBranch = main

[pull]
  rebase = true

[fetch]
  prune = true

[rebase]
  autoStash = true

[diff]
  colorMoved = default

[alias]
  lg  = log --oneline --graph --decorate --all
  st  = status -sb
  co  = checkout
  br  = branch
  cm  = commit -m
  psh = push --set-upstream origin HEAD

[credential "https://github.com"]
  helper =
  helper = {{ $ghCredHelper }}

[credential "https://gist.github.com"]
  helper =
  helper = {{ $ghCredHelper }}

{{- if .isMac -}}
[credential]
  helper =
  helper = manager

[credential "https://dev.azure.com"]
  useHttpPath = true
{{- end -}}
