{{- $userProfile := env "USERPROFILE" -}}
{
  "version": 1,
  "defaults": {
    "minIntervalSeconds": 64800,
    "timeoutSeconds": 0
  },
  "commands": [
    {
      "name": "winget",
      "enabled": true,
      "exe": "C:\\Windows\\System32\\sudo.exe",
      "args": [
        "winget",
        "upgrade",
        "--all",
        "--accept-package-agreements",
        "--silent"
      ]
    }
  ]
}
