{{- $userProfile := .chezmoi.homeDir -}}
{{- if eq .chezmoi.os "windows" -}}
{{- $userProfile = env "USERPROFILE" -}}
{{- end -}}
{
  "version": 1,
  "defaults": {
    "minIntervalSeconds": 64800,
    "timeoutSeconds": 0
  },
  "commands": [
{{- if eq .chezmoi.os "windows" }}
    {
      "name": "chezmoi update",
      "enabled": true,
      "exe": {{ printf "%q" (printf "%s\\AppData\\Local\\Microsoft\\WindowsApps\\winget.exe" $userProfile) }},
      "args": [
        "winget",
        "upgrade",
        "twpayne.chezmoi",
        "--silent"
      ]
    },
    {
      "name": "mise update",
      "enabled": true,
      "exe": {{ printf "%q" (printf "%s\\AppData\\Local\\Microsoft\\WindowsApps\\winget.exe" $userProfile) }},
      "args": [
        "winget",
        "upgrade",
        "jdx.mise",
        "--silent"
      ]
    },
    {
      "name": "winget",
      "enabled": true,
      "exe": "C:\\Windows\\System32\\sudo.exe",
      "args": [
        "winget",
        "upgrade",
        "--all",
        "--accept-package-agreements",
        "--silent"
      ]
    }
{{- else }}
    {
      "name": "chezmoi upgrade",
      "enabled": true,
      "exe": "chezmoi",
      "args": [
        "upgrade"
      ]
    },
    {
      "name": "mise self-update",
      "enabled": true,
      "exe": "mise",
      "args": [
        "self-update",
        "-y"
      ]
    },
    {
      "name": "chezmoi update",
      "enabled": true,
      "exe": "chezmoi",
      "args": [
        "update"
      ]
    }
{{- end }}
  ]
}
